.cards{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
    border-radius: 15px;
    align-items: center;
    background-color: #293827;
    max-width: 500px;
}

.homeHeader { 
    background-color: #293827;
}

.line{
    display: flex;
    width: 90%;
    height: 1px;
    background-color: #c1f0ba;
}

.btns{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.btn{
    padding: 10px;
    background-color: #293827;
    border: 1px solid #c1f0ba;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: #3b5038;
    cursor: pointer;
}
