.cards{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 5px;
    border-radius: 15px;
    align-items: center;
    background-color: rgb(206, 206, 206);
    max-width: 500px;
}

.homeHeader { 
    background-color: rgb(206, 206, 206);
}

.line{
    display: flex;
    width: 90%;
    height: 1px;
    background-color: #393939;
}

.btns{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.btn{
    padding: 5px;
}
