*{
    text-decoration: none;
    color: #393939;
}

header{
    display: flex;
    justify-content: center;
    background-color: #f0ffff;
}

.container {
    display: flex;
    width: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #f0ffff;
    padding: 2rem;
    box-sizing: border-box;
}

.btns {
    display: flex;
    gap: 3rem;
}

.btns > .link {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.btns > .link:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(195, 202, 202);
}