*{
    text-decoration: none;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: center;
    background-color: #293827;
}

.container {
    display: flex;
    width: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #293827;
    padding: 2rem;
    box-sizing: border-box;
}

.headerBtns {
    display: flex;
    gap: 3rem;
}

.headerBtns > .link {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.headerBtns > .link:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(195, 202, 202);
}

@media screen and (max-width: 1135) {
    cont
  }